<a href="https://colab.research.google.com/github/shivansh2310/Python-DSA/blob/main/Measuring_time_complexity_%26_Arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Big O  notaation
> time = a*n + b  // When time grows Linearly
  > 1. keep fastest growing term = time = a*n
  > 2. Drop constants time = O(n)

> time = a // when time is constsnt
  > 1. keep fastest growing term = time = a
  > 2. Drop constants time = O(1) 

> time = a* n^2 + b  // when to find duplicate
  > 1. keep fastest growing term = time = n^2
  > 2. Drop constants time = O(n^2) 

> time =  a* n^2 + b*n + c // when multiple itreation
  > 1. keep fastest growing term = time = n^2
  > 2. Drop constants time = O(n^2)

#Arrays

#Question 1

  Let us say your expense for every month are listed below,

  >January - 2200
  >February - 2350
  >March - 2600
  >April - 2130
  >May - 2190

  Create a list to store these monthly expenses and using that find out,

  1. In Feb, how many dollars you spent extra compare to January?
  2. Find out your total expense in first quarter (first three months) of the year.
  3. Find out if you spent exactly 2000 dollars in any month
  4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
  5. You returned an item that you bought in a month of April and
  got a refund of 200$. Make a correction to your monthly expense list
  based on this

In [1]:
exp = [2200,2350,2600,2130,2190]

In [3]:
print("Ans1:Extra dollar spent:", exp[1]-exp[0])

Ans1:Extra dollar spent: 150

In [4]:
print("Ans2:Total expenses in first quatar:", exp[0]+exp[1]+exp[2])

Ans2:Total expenses in first quatar: 7150

In [5]:
print("Ans3:Did I spent 2000$ in any month? ", 2000 in exp)

Ans3:Did I spent 2000$ in any month?  False

In [6]:
exp.append(1980)
print("ANs4: Expenses at the end of June:",exp)

ANs4: Expenses at the end of June: [2200, 2350, 2600, 2130, 2190, 1980]

In [7]:
exp[3] = exp[3] - 200
print("Ans5: New expenses on April: ", exp)

Ans5: New expenses on April:  [2200, 2350, 2600, 1930, 2190, 1980]

#Question 2 

You have a list of your favourite marvel super heros.

heros=['spider man','thor','hulk','iron man','captain america']

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [8]:
heros=['spider man','thor','hulk','iron man','captain america']

In [10]:
print(len(heros))

5

In [11]:
heros.append('Black Panther')
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'Black Panther']

In [13]:
heros.remove('Black Panther')
heros.insert(3, 'Black Panther')
print(heros)

['spider man', 'thor', 'hulk', 'Black Panther', 'iron man', 'captain america']

In [14]:
heros[1:3]=['doctor strange']
print(heros)

['spider man', 'doctor strange', 'Black Panther', 'iron man', 'captain america']

In [15]:
heros.sort()
print(heros)

['Black Panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

#Question 3

Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [16]:
max = int(input("Enter max number: "))

odd_numbers = []

for i in range(1, max):
    if i % 2 == 1:
        odd_numbers.append(i)

print("Odd numbers: ", odd_numbers)

Enter max number: 5
Odd numbers:  [1, 3]